<persistence-unit name="my-persistence-unit" transaction-type="RESOURCE_LOCAL">
    <class>com.example.demo.Record</class>
    <properties>
        <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
        <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver"/>
        <property name="hibernate.connection.url" value="jdbc:mysql://mysql-0.mysql:3306/mysql?useSSL=false"/>
        <property name="hibernate.connection.username" value="root"/>
        <property name="hibernate.connection.password" value="yourpassword"/>
    </properties>
</persistence-unit>